<head>
	<meta property="og:title" content="Loudermilk Design Center" />
	<meta property="og:url" content="https://www.loudermilkhomes.com/design-center" />
	<meta property="og:image" content="https://www.loudermilkhomes.com/custom_home_builder/design_center_og_image.jpg" />
</head>