<div class="text-center clearfix hidden-xs hidden-sm">
     <nav class="portfolio-filter">
       <ul class="nav nav-tabs">
         <li><a class="active" href="#" data-filter="*"><span>All</span></a></li>
        {% for row in rows %}
            {{ row.content }}
         {% endfor %}
      </ul>            
   </nav>
</div>

<div class="dropdown hidden-md hidden-lg hidden-xl">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    View Categories
    <span class="caret"></span>
  </button>
<nav class="portfolio-filter dropdown-menu" aria-labelledby="dropdownMenu1">  
<ul class="nav">
    <li><a class="active" href="#" data-filter="*"><span>All</span></a></li>
        {% for row in rows %}
            {{ row.content }}
         {% endfor %}

  </ul>
</nav>
</div>