<article class="portfolio-v1 col-lg-3 col-md-3 col-sm-6 isotope-item no-padding {{ fields.tid.content|lower|striptags|trim }} grid ">      
   <div class="portfolio-content">
      <div class="portfolio-image image text-center">  
            {{ fields.field_gallery_image.content }}
      </div>  
      <div class="content">
         <div class="content-inner">
            <div class="title"> 
               {{ fields.title.content }}
            </div>  
            <div class="category">
               {{ fields.field_term_reference.content }}
            </div>  
         </div>    
      </div>
   </div>
</article>