.btn-primary {
    background-color: #8a1a25;
border-color: #8a1a25;
}

.field--name-field-gamls, .field--name-field-floorplan, .field--name-node-link {
float: left;
margin: 15px 10px 15px 0;
}

.properties .field--name-field-gamls a, .properties .field--name-field-floorplan a, .floor-plans .field--name-node-link a, .field--name-node-link a {
 background-color:#8a1a25;
 border:1px solid #8a1a25;
 border-radius:0px;
 color:#fff;
 margin-right:10px;
 padding:10px 10px 10px 10px;
 text-decoration:none;
}

.btn {
	margin-bottom: 10px;
}

.portfolio-v1 .portfolio-content:after {
	position: inherit;
}

.nav-tabs li a {
	line-height: 1;
	padding: 8px 10px;
	font-weight: 300;
	border-radius: 5px;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* @override 
	https://www.loudermilkhomes.com/themes/gavias_emon/css/custom.css */

/* @group Standards */
.center {
	text-align: center;
}
p {
	line-height: 1.35em;
	margin-bottom: .65em;
}
.xlarge {
	font-size: 1.5em;
	line-height: 1.35em;
}
.large {
	font-size: 1.25em;
	line-height: 1.35em;
}
.red {
	color: #9d142d;
}

div#menu-bar.menu-bar {
	color: white;
	background-color: white;
}

div.btn.btn-hollow {
	background-color: transparent;
	border: 1px solid #FFF;
	padding: 10px 15px;
	margin-top: 15px;
	border-radius: 0px;
}

div.btn.btn-hollow:hover {
	color: #BE0027;
}
.btn:hover, .btn:focus, .btn:active {
  color: #BE0027 !important;
}

#block-gaviasblockbuiderhomeblockbuilder div.btn.btn-default a:hover {
	color: white;
}

.btn-theme, .btn {
  border-radius: 0px;
 }

div.btn.btn-hollow a {
	color: white;
	font-size: 1.35em;
}

.caps {
	text-transform: uppercase;
}

.margin-right {
	margin-right: 15px;
}

.margin-left {
	margin-left: 15px;
}
div.content div.node__content ul li {
	list-style: disc;
	margin-left: 2em;
}

.white {
	color: white;
}

#block-gaviasblockbuiderhomeblockbuilder div.column-content.container.white {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 7px;
}

div.content div.node__content ul.checks li {list-style: none;}
ul.checks li::before{
font-family: fontawesome;
content:"\f046";
	margin-right: 10px;
}

img.half {
	max-width: 50%;
}

/* @end */
	
header .header-main {
background-color: #33373b;
border-top: 3px solid #890122;
}
.breadcrumbs {
	padding: 45px 0 12px;
	margin-bottom: 30px;
  background: #F5f5f5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header.header-v3 .header-main .branding {
  padding-top: 5px;
  padding-bottom: 5px;
	text-align: center;
}

#header div.sticky-wrapper div.header-main.gv-sticky-menu.stuck {
/*	-moz-box-shadow: 0 0 30px #000000;
	box-shadow: 0 0 30px #000000;*/
}
#block-gavias-emon-sitebranding {
	position: absolute;
	background-color: #33373b;
	z-index: 99;
	padding-right: 7px;
	padding-left: 7px;
	padding-bottom: 7px;
	border-radius: 7px;
}


.gavias-slider .swiper-slide .tp-caption {
	background-color: rgba(51, 54, 59, 0.6);
}
.gavias-slider .slick-dots > li.slick-active {
  background: #890122;
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
}
.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
}
.display-6 {
  font-size: 1.5rem;
  font-weight: 300;
}

/* @group Main Menu */

.navigation .gva_menu > li > a {
  display: block;
  position: relative;
  color: white;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  font-family: "Montserrat";
  text-align: center;
  border: none;
}
header.header-v3 .stuck .main-menu .gva_menu > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}

#block-gavias-emon-mainnavigation div.gva-navigation  {

}

#block-topbarmenu {
	margin: 0;
}
.gva-navigation .gva_menu > li > a:hover {
  color: #890122 !important;
  background: none !important;
}

header.header-v3 .main-menu .gva_menu > li > a {
  border: none;
  padding: 15px 15px;
}

#block-socialheader-2 {

	margin: 0;
	padding-top: 7px;
}

.page-node-88 h1 {
	text-align: center;
	font-weight: 300;
	margin-bottom: 30px;
}

#intro .bb-inner, #intro .bb-inner .gsc-heading {
	padding-top: 0;
	margin-top: 0;
}
#block-gaviasblockbuiderhomeblockbuilder div.widget.gsc-heading h3.title span {
	font-size: 1.75em;
	letter-spacing: 1px;
}

#block-gaviasblockbuiderhomeblockbuilder div.widget.gsc-heading.style-1.text-dark div.title-desc {
	font-size: 1.15em;
	text-align: justify;
	padding-right: 15%;
	padding-left: 15%;
}

a.site-branding-logo img {
max-height: 85px;	
}

.page-node-88 div.breadcrumbs {
	display: none;
}

.testimonial-carousel .testimonial-v1 {
  -webkit-box-shadow: none;
  box-shadow: none;
}

span.phone {
	margin-top: 10px;
}

header.header-v3 .col-sm-4 {
	margin-top: 5px;
}

.login {
	text-indent: 20px;
	margin-top: 5px;
}

header.header-v3 .topbar {
	background-color: black;
	color: #777777;
}
header.header-v3 .topbar a {
  color: #777777;
}
header.header-v3 .topbar a:hover {
  color: white;
}
ul.menu > li a:after {
  content: "\f105";
  font-family: 'FontAwesome';
  position: absolute;
  color: #8f8f8f;
  left: 0;
  top: 50%;
  margin-top: -12px;
}

.footer a {
  color: #8f8f8f;
}
header.header-v3 .area-main-menu .area-inner {
  padding-left: 10px;
}

.top-bar .footer-social ul li {
  display: inline-block;
  padding: 0 10px;
}

}
.menu-bar span {
  background-color: white;
	color: white;
}
/* @end */

/* @group Sidebar Menu */
#block-gettingstarted div.content ul.gva_menu li {
	display: block;
}

#block-gettingstarted div.content ul.gva_menu li.menu-item a {
	position: relative;
	color: #650000;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
		padding: 15px 20px;
	-webkit-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;
	-moz-transition: all 0.35s;
	-ms-transition: all 0.35s;
	font-family: "Montserrat";
	text-align: center;
	border: none;
}
#block-gettingstarted div.content ul.gva_menu li.menu-item a:hover {
	color: black;
	cursor: pointer;
}

/* @end */

/* @group Floor Plans */

#images div div  {
	display: inline-block;
	margin: 5px;
}

#images div div a.colorbox.cboxElement img {
	border: 1px solid silver;
	border-radius: 7px;
}

.node--type-floorplans fieldset.well legend {
	display: none;
}
.node--type-floorplans fieldset.well div div {
	display: inline;
	margin-right: 10px;
}

.field--name-field-fast-facts .field--label-inline div.field__label  {
	font-weight: 500;
	width: 50%;
	margin-left: 15px;
}

div.views-element-container div.floor-plans .views-col .field--name-body {
	height: 250px;
}
div.floor-plans .field--name-node-link {
	margin-top: 10px;
	margin-bottom: 20px;
}

/* @end */

/* @group Properties */
.field--label-inline div.field__label {
	float: left;
	margin-right: 1em;
	font-weight: bold;
	width: 150px;
}

.node--type-property.node--view-mode-full .field--name-field-fast {
	background-color: rgba(243, 242, 242, 0.41);
	padding-left: 20px;
}

.node--type-property.node--view-mode-full .field--name-field-fast .field--label-inline div.field__label {
	width: 150px;
}
.node--type-property.node--view-mode-token .field--name-field-fast .field--label-inline {
	text-align: left;
}
.node--type-property.node--view-mode-token .field--name-field-fast .field--label-inline div.field__label {
	width: 150px;
	text-align: left;
}

.node--type-property  .field--name-field-building-status {
	margin-bottom: 5px;
}


.block-views .properties header {
	text-align: center;
	margin-top: 20px;
	border-top: thin solid silver;
	padding-top: 10px;
}

.block-views .properties header div.title-sub span {
	font-style: italic;
}
.block-views .properties header h3.title {
	margin-top: 0;
	color: #890122;
}


.node--type-property .field--name-field-property-pictures .field__item {
	display: inline; float: left;
	padding: 5px;
}
.node--type-property .field--name-field-property-pictures {
	display: block; clear: both;
	margin-bottom: 20px;
}

.node--type-property .field--name-field-geolocation {
	clear: both;
	margin-top: 20px;
	margin-bottom: 10px;
}

span.country {
	display: none;
}

div.views-view-grid .node--type-property  {
	text-align: left;
}

/* @end */

/* @group Footer */
.footer .footer-top {
	padding-bottom: 0;
	background-color: #fefffe;
}
.footer .footer-top:before {
	position: relative;
	bottom: 35px;
	padding: 10px;
	left: 48.5%;
}
#footer div.footer-center {
	background-color: black;
	color: #8f8f8f;
}

#block-gavias-emon-copyright div.text-center a {
	color: #8f8f8f;
}

#footer div.footer-center .block .block-title span {
	color: white;
}

.footer-social h5 {
  color: #2d2d2d;
  float: left;
  font-size: 16px;
  width: 100%;
  letter-spacing: 2px;
}
/* @end */

/* @group Front Page */

.southernliving img {
	margin-top: 50px;
	margin-bottom: 50px;
}
.signature {
	text-align: right;
	font-weight: bold;
	font-style: italic;
	font-size: 1.5em;
}

.dark p, .dark .headline {
	color: white;
}

div.front.builder.headline {
	font: 3em "proxima-nova", sans-serif;
	text-transform: uppercase;
	font-weight: 100;
}

div.front.builder.subline {
	font: italic 1.35em "proxima-nova",sans-serif;

}

div.silver-back p, div.silver-back div.front.builder.headline, div.silver-back div.front.builder.subline {
	color: black;
}

#block-gaviasblockbuiderhomeblockbuilder div.widget.gsc-heading.align-center.style-1.text-dark {
	padding-bottom: 0;
}#block-gaviasblockbuiderhomeblockbuilder div.widget.gsc-heading.align-center.style-1.text-dark h3 {
	font-size: 1.15em;
}

div.front.builder.headline span.kern {
	text-transform: capitalize;
	font-weight: bold;
	font-size: 1.25em;
}
h2.team-title {
	font: bold 16px "proxima-nova",sans-serif;
	margin-bottom: 0;
}
#block-views-block-team-block-1 .row {
	margin-bottom: 40px;
}
#block-views-block-team-block-1 .node--type-person div {
	text-transform: uppercase;
	font-size: 12px;
	color: #650000;
}

/* @end */

/* @group Person */

div.node.node--type-person.node--view-mode-token {
	text-align: center;
	margin-bottom: 10px;
}


/* @end */

/* @group Design Center */
.node--type-preferred-vendors .field--name-field-logo {
	height: 140px;
	width: auto;
	border: 1px solid silver;
	border-radius: 7px;
	padding: 10px;
}
.node--type-preferred-vendors .field--name-field-logo img {
	max-height: 120px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.node--type-preferred-vendors.node--view-mode-token {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}

div.views-row.row {
	margin-bottom: 50px;
}
a.feed-icon {
display: none;	
}

/* @end */

.node--type-landing-page .field--name-field-image {
	margin-bottom: 20px;
}

.widget.gsc-heading .title-sub {
  font-family: "proxima-nova",sans-serif;
}
.widget.gsc-heading .title {
  font-family: "proxima-nova",sans-serif;
}

.page-node-211 div.panel.panel-default {
	padding: 10px;
}

h2.inline {
	display: inline;
	font-size: 2em;
	position: relative;
	top: .25em;
}

p.inset {
	margin-left: 3em;
}

#original0 div.background.skrollable.skrollable-between {
	height: 200px;
	background-size: cover;
}

#views-exposed-form-juicebox-page-1 {
	text-align:center;
}

#views-exposed-form-juicebox-page-1 .form-actions {
	margin:10px 0;
}